
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none; /*tirar os pontos do ul li*/
    text-decoration: none; /*tirar o sublinhado*/
    font-family: 'Poppins', sans-serif;
}

body{
    background: #FFFFFF;
}

header{
    padding: 30px 100px 50px 100px;
}


.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .logo{
    width: 8%;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 100px;
}

.navigation ul li a{
    color: #c6c4c6;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5 case-in-out;
    padding: 10px;
}

.navigation ul li a:hover{
    border-bottom: 2px solid  #c6c4c6;
}

.navigation .check{
    background-image: linear-gradient(232deg, #9b39b1, #4832D9);
    color: #FFFFFF;
    border-radius: 60px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main section{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

main section iframe{
    padding: 1vw 0px;
}

h1{
    font-size: 3rem;
    color: #160e4f;
    padding: 1%;
    font-weight: 800;
}

h1 span{
    color: #85E7F2;
}

main section ul{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

main section ul li{
    padding: 0px 20px;
}
  
main section ul li:hover {
     -webkit-transform:scale(1.2); 
        -moz-transform:scale(1.2); 
          -o-transform:scale(1.2);
             transform:scale(1.2);
}

.container-slider{
    display: flex;
    width: 100%;
    min-height: 110vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translateY(0rem);
}

.container-main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#next, #prev{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container{
    position: absolute;
    width: 100%;
    background: #e6e8ea;
    border-radius: 50px;
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity .2s;
}

.on{
    opacity: 1;
}

.container .up{
    display: flex;
    
}

.up span{
   margin-right: 15px;
}

.pink{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #E057F2;
}

.purple{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4832D9;
}

.blue{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #85E7F2;
}

.up h3{
    padding-left: 20px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #847cb9;
}